/* ------Змінні------- */

:root {
  --main-color: #212121;
  --secondary-color: #ffffff;
  --accent-color: #2196f3;
  --text-color: #757575;
  --secondary-background-color: #f5f4fa;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--main-color);
  background-color: var(--secondary-color);
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* --------Header --------*/

.header {
  padding-top: 24px;
  padding-bottom: 25px;
  border: 1px solid #ececec;
}

.header .container {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  margin-left: 93px;
}

.nav-item:not(:last-child) {
  margin-right: 50px;
}

.header-list {
  display: flex;
  margin-left: auto;
}

.logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.header-studio {
  color: #000000;
}

.nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.02em;
  color: var(--main-color);
  padding-top: 32px;
  padding-bottom: 32px;
}

.header-contact {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color);
  padding-top: 32px;
  padding-bottom: 32px;
}

.header-item + .header-item {
  margin-left: 50px;
}

.nav-link:hover,
.nav-link:focus,
.header-contact:hover,
.header-contact:focus {
  color: var(--accent-color);
}

/* -------Hero-------- */

.hero {
  background-color: #1d1d22;
  max-width: 1600px;
  margin: 0 auto;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../img/bghero.jpg);
  background-position: center;
  background-repeat: no-repeat;
}

.hero-title {
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  color: var(--secondary-color);
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;
}

.hero-btn {
  min-width: 200px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  color: var(--secondary-color);
  background-color: var(--accent-color);
  letter-spacing: 0.06em;
  cursor: pointer;
  padding: 10px 32px;
  border: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #188ce8;
}

/* -------Benefits------- */

.benefits-list {
  display: flex;
}

.benefits-item:not(:last-child) {
  margin-right: 30px;
  min-width: 270px;
}

.benefits-subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.benefits-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

/* -------Works------- */

.works {
  padding-top: 0;
}

.works-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  text-align: center;
}

.works-list {
  display: flex;
  margin-right: -30px;
}

.works-item {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
}

/* -------Team-------- */

.team {
  background-color: var(--secondary-background-color);
}

.team-list {
  display: flex;
  margin-right: -30px;
}

.team-item {
  background-color: var(--secondary-color);
  width: calc((100% - 90px) / 4);
  margin-right: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  text-align: center;
}

.team-container {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.team-subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.team-text {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

/* ------Footer------*/

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-logo {
  display: block;
  margin-bottom: 20px;
}

.footer-studio {
  color: var(--secondary-color);
}

.footer-address {
  font-style: normal;
}

.footer-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  display: block;
}

.footer-mail,
.footer-tel {
  display: block;
}

.footer-tel,
.footer-mail {
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-mail:hover,
.footer-mail:focus,
.footer-tel:hover,
.footer-tel:focus,
.footer-link:hover,
.footer-link:focus {
  color: var(--accent-color);
}

.current {
  color: var(--accent-color);
}

/* ------Portfolio------- */

.portfolio-nav {
  display: flex;
  justify-content: center;
}

.portfolio-nav-item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.36;
  letter-spacing: 0.03em;
  color: var(--main-color);
  background-color: var(--secondary-background-color);
  cursor: pointer;
  padding: 6px 22px;
  border-radius: 4px;
  border: transparent;
}

.portfolio-btn-all {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.36;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  background-color: var(--accent-color);
  cursor: pointer;
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  color: var(--secondary-color);
  background-color: var(--accent-color);
}

.portfolio-list {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-bottom: -30px;
}

.portfolio-list-item {
  width: calc(100% / 3 - 30px);
  margin-right: 30px;
  margin-bottom: 30px;
}

.portfolio-image {
  display: block;
  max-width: 100%;
  height: auto;
}

.portfolio-container {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
}

.portfolio-sub-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: var(--main-color);
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.portfilolio-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
